<%= form_for [@sub_channel, @sub_channel_offer] do |f| %>
	<% if @sub_channel_offer.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@sub_channel_offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

			<ul>
				<% @sub_channel_offer.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="outlet_info">
		<h1>Outlet Info</h1>
		<div class="outlet_field">
			<%= outlet.name %>
		</div>
		<div class="outlet_field">
			DMA: <%= outlet.dma.name rescue "None" %>
		</div>
		<div class="outlet_field">
			Subs: <span id="subs"><%= number_with_delimiter outlet.subs %></span>
		</div>
	</div> <!-- end div outlet_info -->

	<div class="sub_channel_info">
		<h1>Sub Channel</h1>
		<div class="sub_channel_field">
			<%= @sub_channel.name %>
		</div>
		<div class="sub_channel_field">
			<%= number_with_delimiter @sub_channel.subs %>
		</div>
	</div>

	<div>
		Dollar amount *: $
		<%= f.text_field :dollar_amount, :value => convert2Decimal(@sub_channel_offer.dollar_amount.to_s) %>
	</div>
	<div style="padding-left: 427px">
		<%= check_box_tag 'all_week', 'yes' %> 24 hours
	</div>
	<div class="hours_div">
		<table class="table" id="form_table">
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			<% values.each do |v| %>
				<tr>
					<% day_arr.each do |day| %>
						<td>
							<% if contain_day_hour @sub_channel_offer.half_hour_clicked, day, v.hour %>
								<div id="hour_id_<%= day %>_<%= v.time %>_<%= v.send day %>" class="clicked_cell">
									<%= display_hour v.time %>
									<% hidden_name = convert_day_hour day, v.time %>
									<%= hidden_field_tag "cell[#{hidden_name}]", "1" %>
								</div>
							<% else %>
								<div id="hour_id_<%= day %>_<%= v.time %>_<%= v.send day %>">
									<%= display_hour v.time %>
									<% hidden_name = convert_day_hour day, v.time %>
									<%= hidden_field_tag "cell[#{hidden_name}]", "0" %>
								</div>
							<% end %><!-- end if contain day hour condition -->
						</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="details_div">
		Average Hourly Rate: <span id='hourly_rate'><%= @sub_channel_offer.hourly_rate %></span>
		<%= f.hidden_field :hourly_rate, :value =>@sub_channel_offer.hourly_rate.to_s %>
		<div class="rate">
			<table>
				<tr>
					<th>Offer</th>
					<th>hours</th>
					<th>rate</th>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>
							<span id="weekly_hours"><%= @sub_channel_offer.total_hours %></span>
							<%= f.hidden_field :total_hours, :value => @sub_channel_offer.total_hours.to_s %>
					</td>
					<td>
						<span id="weekly_rate">$<%= @sub_channel_offer.weekly_offer %></span>
						<%= f.hidden_field :weekly_offer, :value => @sub_channel_offer.weekly_offer.to_s %>
					</td>
				</tr>

				<tr>
					<td>Monthly</td>
					<td>
						<span id="monthly_hours"><%= @sub_channel_offer.total_hours * 4 %></span>
					</td>
					<td>
						<span id="monthly_rate">$<%= @sub_channel_offer.monthly_offer %></span>
						<%= f.hidden_field :monthly_offer, :value => @sub_channel_offer.monthly_offer.to_s %>
					</td>
				</tr>

				<tr>
					<td>Yearly</td>
					<td>
						<span id="yearly_hours"><%= @sub_channel_offer.total_hours * 52 %></span>
					</td>
					<td>
						<span id="yearly_rate">$<%= @sub_channel_offer.yearly_offer %></span>
						<%= f.hidden_field :yearly_offer, :value => @sub_channel_offer.yearly_offer.to_s %>
					</td>
				</tr>
			</table>


			<div>
				<%= link_to image_tag('calculate.png'), "#", :id => 'calculate' %>
				<%= link_to image_tag('reset.png'), "#", :id => 'reset' %>
			</div>
			<hr/>

		</div> <!-- end rate div -->
		<%= collection_select(:sub_channel_offer, :programmer_ids, programmers, :id, :name,
									{ :selected => @sub_channel_offer.programmer_ids },
									{ :multiple => true, :name => 'sub_channel_offer[programmer_ids][]' }) %><br/>
		<%= link_to "Add Programmer", new_programmer_path(:back_url => request.url) %>
		<br/>

		<input type="hidden" name="url" value="<%= @url %>" />
		<%= f.submit "" %>
		<%#= link_to_function(image_tag('submit.png'),"displayError()") %>
	</div> <!-- end details_div -->

<% end %>
<div class="clr">&nbsp;</div>