<%= link_to "Create note", new_offer_note_path(@offer) %>
<br/>

<% if @notes.empty? %>
	There is no notes
<% else %>
	<% @notes.each do |note| %>
		<div class="note_container">
			<div class="note_content">
				<%= note.content %>
			</div>
			<div class="note_time">
				created at <%= note.created_at.strftime("%m/%d/%Y") %>
			</div><br/>
			<div class="note_actions">
				<%= link_to "Edit", edit_offer_note_path(@offer, note)%>
				<%= link_to "Delete", [@offer, note], confirm: "Are you sure?", method: :delete%>
			</div>
			<div class="clr">&nbsp;</div>
		</div>
	<% end %>
<% end %>
<br/>
<%= link_to "Back", edit_outlet_offer_path(@outlet, @offer) %>
