<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <h1><%= current_user.admin? ? 'All Programmers' : 'My Programmers' %>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li>View Programmers</li>
        <li class="active"><%= current_user.admin? ? 'All Programmers' : 'My Programmers' %></li>
      </ol>
    </div>
  </div>
</div><!-- end .page title-->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default margin-b-30">
      <div class="panel-heading">
        <h4 class="panel-title">Programmers</h4>
        <!--<div class="panel-actions">-->
          <!--<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>-->
          <!--<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>-->
        <!--</div>-->
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="basic-datatables" class="table table-striped tablesorter">
            <thead>
              <tr>
                <th>Company Name</th>
                <th>First Name</th>
                <th>Last Name</th>
								<th>Type</th>
                <th>Email</th>
                <th>Phone</th>
								<th>Created</th>
								<th>Updated</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <% @programmers.each do |programmer| %>
                <tr>
                  <td><%= programmer.name %></td>
                  <td><%= programmer.first_name %></td>
                  <td><%= programmer.last_name %></td>
                  <td><%= programmer.programmer_type.name %></td>
                  <td><%= mail_to programmer.email %></td>
                  <td><%= number_to_phone programmer.phone %></td>
                  <td><%= programmer.created_at %></td>
                  <td><%= programmer.updated_at %></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary droptown-toggle" data-toggle="dropdown">
                        Actions&nbsp;<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="<%= url_for programmer_path(programmer.id) %>">Display</a></li>
                        <li><a href="<%= url_for edit_programmer_path(programmer.id) %>">Edit</a></li>
                        <li><%= link_to 'Delete', programmer_path(programmer.id), :method => :delete %></li>
                      </ul>
                    </div>
                  </td>
                </tr>
			<% end %><!-- end programmer -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= button_to('New Programmer', new_programmer_path, :method => :get, :class => 'btn btn-primary') %>
  </div>
</div>
