<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <h1><%= @programmer.name %>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li>Programmers</li>
        <li class="active"><%= @programmer.name %></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title"> Programmer Details</h4>
      </div>
      <div class="panel-body">
        <p><strong>Name </strong><%= @programmer.name %></p>

        <p><strong>Type </strong><%= @programmer.programmerType %></p>
        <p><strong>First Name </strong><%= @programmer.first_name %></p>
        <p><strong>Last Name </strong><%= @programmer.last_name %></p>
        <p><strong>Updated At </strong><%= @programmer.updated_at %></p>
        <p><strong>Created At </strong><%= @programmer.created_at %></p>
        <p><strong>Email </strong><%= mail_to @programmer.email %></p>
        <p><strong>Phone </strong><%= @programmer.phone %></p>

        <p><strong>Website </strong><a href="<%= @programmer.website.start_with?('http://') ? @programmer.website : 'http://' + @programmer.website %>" target="_new"><%= @programmer.website %></a></p>
        <div class="panel panel-info">
          <div class="panel-heading">Description</div>
          <div class="panel-body"><%= @programmer.description %></div>
        </div>
      </div><!--end .col-->
</div>


<div id="actions">
  <%= button_to 'Edit', edit_programmer_path(@programmer), :class => 'btn btn-primary', :method => :get %>
  <%= button_to 'Delete', @programmer, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>
  <%= link_to new_programmer_path do -%>
    <button type="button" class="btn btn-default">New Programmer</button>
  <% end %>
</div>
</div>
  </div>
