<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <h1><%= @programmer.name %>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li>Programmers</li>
        <li class="active"><%= @programmer.name %></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="navButtons">
      <%= button_to 'Edit', edit_programmer_path(@programmer), :class => 'btn btn-primary', :method => :get %>
      <%= button_to 'Delete', @programmer, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>
      <%= link_to new_programmer_path do -%>
          <button type="button" class="btn btn-default">New Programmer</button>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="filterBox">
      <input type="text" class="form-control input-md filterText" placeholder="Filter" type="search">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title"> Programmer Details</h4>
      </div>
      <div class="panel-body">
        <p><strong>Name </strong><%= @programmer.name %></p>
        <p><strong>Type </strong><%= @programmer.programmerType %></p>
        <p><strong>First Name </strong><%= @programmer.first_name %></p>
        <p><strong>Last Name </strong><%= @programmer.last_name %></p>
        <p><strong>Updated At </strong><%= @programmer.updated_at.strftime '%m/%d/%Y' %></p>
        <p><strong>Created At </strong><%= @programmer.created_at.strftime '%m/%d/%Y' %></p>
        <p><strong>Email </strong><%= mail_to @programmer.email %></p>
        <p><strong>Phone </strong><%= @programmer.phone %></p>

        <p><strong>Website </strong><a href="<%= @programmer.website.start_with?('http://') ? @programmer.website : 'http://' + @programmer.website %>" target="_new"><%= @programmer.website %></a></p>
        <div class="panel panel-info">
          <div class="panel-heading">Description</div>
          <div class="panel-body"><%= @programmer.description %></div>
        </div>
      </div><!--end .col-->
    </div>
    <div class="panel panel-default margin-b-30">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">Offers</h4>
        <div class="panel-actions">
          <a class="panel-action panel-action-toggle" data-panel-toggle="" href="#"></a>
          <a class="panel-action panel-action-dismiss" data-panel-dismiss="" href="#"></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped sortable filterable">
          <thead>
          <tr>
            <th>Outlet</th>
            <th>DMA</th>
            <th>Yearly</th>
            <th>Offer Amount</th>
            <th>Weekly Hours</th>
            <th>Media Type</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Created At</th>
            <th>Status</th>
            <th>User</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @offers.each do |offer| %>
              <tr>
                <td><%= offer.outlet.name %></td>
                <td><%= offer.outlet.dma.name %></td>
                <td><%= number_to_currency offer.yearly_offer %></td>
                <td><%= number_to_currency offer.dollar_amount %></td>
                <td><%= offer.weekly_hours %></td>
                <td><%= offer.outlet.outlet_type.name %></td>
                <td>Blank</td>
                <td><%= offer.internalNotes[0, 99] rescue '' %></td>
                <td><%= offer.created_at.strftime '%m/%d/%y' %></td>
                <td><%= offer.status %></td>
                <td><%= offer.user.first_name %></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary droptown-toggle" data-toggle="dropdown">
                      Actions&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="<%= url_for offer_path(offer.id) %>">Display</a></li>
                      <li><a href="<%= url_for edit_offer_path(offer.id) %>">Edit</a></li>
                      <li><a href="<%= url_for offer_path(offer.id) %>/preview">Preview Email</a></li>
                      <% unless offer.zoho_exported %>
                          <li><%= link_to 'Export to Zoho', zoho_export_potential_path + '?id=' + offer.id.to_s, :data => {:confirm => 'Are you sure you want to export this offer to Zoho?'} %></li>
                      <% end %>
                      <li><%= link_to 'Closed Won', offer_path(offer.id) + '/setClosedWon', :method => :post, :data => {:confirm => 'Are you sure?'} %></li>
                      <li><%= link_to 'Closed Lost', offer_path(offer.id) + '/setClosedLost', :method => :post, :data => {:confirm => 'Are you sure?'} %></li>
                      <li><%= link_to 'Delete', offer_path(offer.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% end %><!-- end programmer -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>