<h2><%= user.email %></h2>
<table id="list_programmers_user_<%= user.id %>" class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Offers</th>
			<th>Actions</th>
		</tr>
	</thead>
	
	<tbody>
		<% user.programmers.each do |programmer| %>
			<tr>
				<td><%= programmer.name %></td>
				<td><%= programmer.email %></td>
				<td><%= programmer.offers.count %></td>
				<td><%= link_to "Show", "#", :id => "user_#{user.id}_link_programmer_#{programmer.id}" %></td>
			</tr>
		<% end %>
	</tbody>
</table>