<%= form_for @outlet, :html => {:class => 'form-horizontal group-border stripped'} do |f| %>
    <% if @outlet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@outlet.errors.count, 'error') %> prohibited this outlet from being saved:</h2>
          <ul>
            <% @outlet.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :company_name, 'Name', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :name, :class => 'form-control' %></div>
    </div>
    <div class="form-group">
      <%= f.label :first_name, 'First Name', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :first_name, :class => 'form-control' %></div>
    </div>
    <div class="form-group">
      <%= f.label :last_name, 'Last Name', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :last_name, :class => 'form-control' %></div>
    </div>
    <div class="form-group">
      <%= f.label :phone_number, 'Phone', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :phone_number, :class => 'form-control', :id => 'programmer_phone' %></div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.email_field :email, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :website, 'Website', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :website, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :programming, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :programming, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :subs, 'MVPD Subscribers', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :subs, :class => 'form-control delimited' %></div>
    </div>

    <div class="form-group">
      <%= f.label :over_air, 'Over the Air Homes', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :over_air, :class => 'form-control delimited' %></div>
    </div>

    <div class="form-group">
      <%= f.label :total_homes, 'Total Homes', :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :total_homes, :class => 'form-control delimited' %></div>
    </div>

    <div class="form-group">
      <%= f.label :dma, "DMA", :class => 'col-lg-2 col-md-3 control-label' %>
      <div class="col-lg-10 col-md-9">
        <%= select("outlet", "dma_id", options_for_select(Dma.order("id DESC").collect { |d| [d.name, d.id] })) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :type, :class => 'col-lg-2 col-md-3 control-label' %>
      <div class="col-lg-10 col-md-9">
        <%= select("outlet", "outlet_type_id", OutletType.order(:name).collect { |d| [d.name, d.id] }) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :time_zone, :class => 'col-lg-2 col-md-3 control-label' %>
      <div class="col-lg-10 col-md-9">
        <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, :default => '') %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2" style="margin-top: 15px;">
        <%= button_tag(type: 'submit', class: "btn btn-primary") do -%>
            <i class="icon-ok icon-white"></i> Save
        <% end %>
        <%= link_to outlets_path, :class => 'btn cancel' do -%>
            <i class="fa fa-remove"></i> Cancel
        <% end %>
      </div>
    </div>

    <%= f.hidden_field(:user_id, :value => current_user.id) %>
<% end %>