<tr>
	<td><%= outlet.name %></td>
	<td><%= outlet.offers.count %></td>
	<td><%= number_with_delimiter outlet.subs %></td>
	<td><%= outlet.dma.name rescue "None" %></td>
	<td><%= outlet.created_at.strftime "%m/%d/%Y" %></td>
	<td>
		<%= link_to "show", outlet_path(outlet) %> |
    <%= link_to "edit", edit_outlet_path(outlet) %> |
		<%= link_to "delete", outlet, :confirm => "Are you sure?", :method => :delete %>
	</td>
</tr>
