<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <h1>New Media Outlet
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li>Media Outlets</li>
        <li class="active">New Media Outlet</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default margin-b-30">
    <div class="panel-heading">
      <h4 class="panel-title">Add a new Media Outlet</h4>
    </div>
    <div class="panel-body">
      <%= form_for @outlet, :html => {:class => 'form-horizontal group-border stripped'} do |f| %>
          <% if @outlet.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@outlet.errors.count, "error") %> prohibited this outlet from being saved:</h2>
                <ul>
                  <% @outlet.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :company_name, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10"><%= f.text_field :name, :class => 'form-control' %></div>
          </div>
          <div class="form-group">
            <%= f.label :first_name, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10"><%= f.text_field :first_name, :class => 'form-control' %></div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10"><%= f.text_field :last_name, :class => 'form-control' %></div>
          </div>
          <div class="form-group">
            <%= f.label :phone_number, :class => 'col-lg-2 control-label' %><br/>
            <div class="col-lg-10"><%= f.text_field :phone_number, :class => 'form-control' %></div>
          </div>

          <div class="form-group">
            <%= f.label :dma, "DMA", :class => 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-10 col-md-9">
              <%= select("outlet", "dma_id", Dma.order(:name).collect {|d| [ d.name, d.id ] }, {:include_blank => 'None', :class => 'form-control'}) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :type, :class => 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-10 col-md-9">
               <%= select("outlet", "outlet_type_id", OutletType.order(:name).collect{|d| [d.name, d.id]}) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :time_zone, :class => 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-10 col-md-9">
              <%= f.time_zone_select(:time_zone, nil) %>
            </div>
          </div>

          <%= f.hidden_field(:user_id, :value => current_user.id) %>
    </div>
  </div>
  <div class="panel panel-default margin-b-30">
    <div class="panel-heading">
      <h4 class="panel-title">Sub Channel</h4>
    </div>
    <div class="panel-body">
      <div id="sub_channel_existed">
            <% @outlet.sub_channels.each do |sub_channel| %>
                <div class='sub_channel'>
                  <div class='col1'>
                    <label>Name</label>
                    <label><%= sub_channel.name %></label>
                  </div>
                  <div class='col2'>
                    <label>Type</label>
                    <label><%= sub_channel.sub_channel_type.name %></label>
                  </div>
                  <div class='col3'>
                    <label>Subscribers</label>
                    <label><%= number_with_delimiter sub_channel.subs %></label>
                  </div>
                  <div class='action' style='margin-top: 5px;'>
                    <%= link_to "Edit", edit_sub_channel_path(sub_channel) %>
                    <%= link_to "Remove", sub_channel, method: :delete, confirm: "Are you sure?",
                                class: 'delete_child_div', remote: true %>
                  </div>

                  <div class='clr'>&nbsp;</div>
                </div>
            <% end %>
          </div>
      <div class="form-group">
            <%= f.label :total_subscribers, :class => 'col-lg-2 col-md-3' %>
            <div class="col-lg-10 col-md-9"><%= f.text_field :subs, :value => number_with_delimiter(@outlet.subs), :class => 'form-control' %>
            </div>
          </div>
          <br />
      <div class="form-group">
            <%= f.label :description, :class => 'col-lg-2 col-md-3' %>
            <div class="col-lg-10 col-md-9">
              <%= f.text_area :description, :class => 'form-control' %>
            </div>
      </div>
      <%= hidden_field_tag "count_sub_channel", 0 %>
      <br />
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <%= button_tag(type: 'submit', class: "btn btn-primary", style: 'margin-top: 20px;') do %>
            <i class="icon-ok icon-white"></i> Save
          <% end %>
          <a href="<%= url_for(root_url) %>"><p>Cancel</p></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
