<div class="row">
        <div class="col-sm-12">
            <div class="page-title">
                <h1><%= @outlet.name %> <small></small></h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-home"></i></a>
                    </li>
                    <li>Media Outlets</li>
                    <li class="active">Show Media Outlet</li>
                </ol>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-6 col-md-3 margin-b-30">
        <div class="tile red">
            <div class="tile-title clearfix">
                Total Subscribers <span class="pull-right"></span>
            </div><!--.tile-title-->
            <div class="tile-body clearfix">
                <i class="fa fa-cart-plus"></i>
                <h4 class="pull-right">
                <%= number_with_delimiter @outlet.subs %></h4>
            </div><!--.tile-body-->
            <div class="tile-footer">
                &nbsp;
            </div><!--.tile footer-->
        </div><!-- .tile-->
    </div><!-- .col -->
    <div class="col-sm-6 col-md-3 margin-b-30">
        <div class="tile green">
            <div class="tile-title clearfix">
                Market <span class="pull-right"></span>
            </div><!--.tile-title-->
            <div class="tile-body clearfix">
                <i class="fa fa-credit-card"></i>
                <h4 class="pull-right" style="font-size: large;">
                    <%= @outlet.dma.name %>
                </h4>
            </div><!--.tile-body-->
            <div class="tile-footer">
                &nbsp;
            </div><!--.tile footer-->
        </div><!-- .tile-->
    </div><!--end .col-->
    <div class="col-sm-6 col-md-3 margin-b-30">
        <div class="tile blue">
            <div class="tile-title clearfix">
                OTA Homes <span class="pull-right"></span>
            </div><!--.tile-title-->
            <div class="tile-body clearfix">
                <i class="fa fa-users"></i>
                <h4 class="pull-right"><%= number_with_delimiter @outlet.over_air %></h4>
            </div><!--.tile-body-->
            <div class="tile-footer">
                &nbsp;
            </div><!--.tile footer-->
        </div><!-- .tile-->
    </div><!--end .col-->
    <div class="col-sm-6 col-md-3 margin-b-30">
        <div class="tile purple">
            <div class="tile-title clearfix">
                Total homes <span class="pull-right"></span>
            </div><!--.tile-title-->
            <div class="tile-body clearfix">
                <i class="fa fa-cart-plus"></i>
                <h4 class="pull-right">
                <%= number_with_delimiter @outlet.total_homes %></h4>
            </div><!--.tile-body-->
            <div class="tile-footer">
                &nbsp;
            </div><!--.tile footer-->
        </div><!-- .tile-->
    </div><!--end .col-->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default margin-b-30">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Offers</h4>
                <div class="panel-actions">
                    <a class="panel-action panel-action-toggle"
                    data-panel-toggle="" href="#"></a> <a class=
                    "panel-action panel-action-dismiss" data-panel-dismiss=
                    "" href="#"></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>Programmer</th>
                            <th>Monthly</th>
                            <th>Offer Amount</th>
                            <th>Weekly Hours</th>
                            <th>Programmer Type</th>
                            <th>Created At</th>
                            <th>User</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%@outlet.offers.each do |offer| %><%offer.programmers.each do |programmer| %>
                        <tr>
                            <td><%= programmer.name %></td>
                            <td><%= number_to_currency offer.monthly_offer %></td>
                            <td><%= number_to_currency offer.dollar_amount %></td>
                            <td><%= offer.weekly_hours %></td>
                            <td><%= programmer.programmerType %></td>
                            <td><%= offer.created_at.strftime("%m/%d/%y") %></td>
                            <td><%= offer.user.first_name %></td>
                            <td>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-primary droptown-toggle" data-toggle="dropdown">
                                    Actions&nbsp;<span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><%= link_to 'Show', offer_path(offer) %></li>
                                    <li><%= link_to 'Edit', edit_outlet_offer_path(@outlet, offer) %></li>
                                    <li><%= link_to "Delete", offer_path(offer), method: :delete, confirm: "Are you sure?" %></li>
                                  </ul>
                                </div>
                                </td>
                        </tr><%end %><!-- end programmer -->
                        <%end %><!-- end offer of outlet -->
                    </tbody>
                </table>
            </div>
        </div><!-- End .panel -->
    </div><!--end .col-->
</div>
<div id="actions">
    <%= button_to "Edit", edit_outlet_path(@outlet), :class => 'btn btn-primary', :method => :get %><%= button_to 'Delete', @outlet, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %><%= button_to 'New Offer', new_outlet_offer_path(@outlet), :class => 'btn', :method => :get %>
</div>
