<% unless action_name == 'preview' || @emailMessage.empty? %>
    <div>
      <p style="font-family: 'Tahoma Regular' !important;"><strong>Comments: </strong><%= @emailMessage %></p>
    </div>
<% end %>
<div style="margin-left:auto;margin-right:auto;background-color:gainsboro;"> <!-- container div -->
  <div style="margin-left:auto;margin-right:auto;width:90%;background-color:white;"> <!-- main div -->
  <table style="background-color:white;margin-left:auto;margin-right:auto;width:100%;">
    <tr>
      <td width="100%">
        <div class="text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;">
          <h2 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 14pt;margin: 0.67em 0;font-family: 'Tahoma Regular' !important;font-weight: 400;line-height: 1.1;color: inherit;margin-top: 0px;margin-bottom: 10px;"> <%= image_tag('http://i.imgur.com/SdYFWDL.png', {
              :style => '-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100% !important;',
              :alt => 'Across Platforms'
          }) %> <font style="font-family:Helvetica, Arial, sans-serif;color:#49c0ba;font-size: 30px;">Worksheet</font>  </h2></div><hr style="width:85%;color:#49c0ba;height:5px;border: 0;background-color: #49c0ba;">
      </td>
    </tr>

  </table>


<table style="width:85%;margin-left:auto;margin-right:auto;">
        <tbody>
        <tr>
          <td>
            <div class="tile red" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #fa4345;">
              <div class="tile-title clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;text-transform: capitalize;background-color: darkorange;padding: 3px 15px;">
                Total MVPD and OTA Homes
                <span class="pull-right" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: right;"></span>
              </div><!--.tile-title-->
              <div class="tile-body clearfix" style="background-color:darkorange;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;height: 60px;">
                <i class="fa fa-home" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 35px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;"></i>
                <h4 class="pull-right delimited" id="totalHomes" style="background-color:darkorange;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 400;line-height: 1.1;color: #fff;margin-top: 0px;margin-bottom: 10px;font-size: 35px;float: right;text-transform: uppercase;margin: 0px;"><%= number_with_delimiter @offer.outlet.total_homes %></h4>
              </div><!--.tile-body-->
              <div class="tile-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 4px 15px;color: #fff;background-color: darkorange;">
                &nbsp;
              </div><!--.tile footer-->
            </div><!-- .tile-->
          </td>
          <td>
            <div class="tile green" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #f68247;">
              <div class="tile-title clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;text-transform: capitalize;background-color: #f68247;padding: 3px 15px;">
                Total Weekly Hours
                <span class="pull-right" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: right;"></span>
              </div><!--.tile-title-->
              <div class="tile-body clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;height:60px;">
                <i class="fa fa-clock-o" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 35px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;"></i>
                <h4 class="pull-right" id="totalHoursHero" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 400;line-height: 1.1;color: #fff;margin-top: 0px;margin-bottom: 10px;font-size: 35px;float: right;text-transform: uppercase;margin: 0px;"><%= @offer.total_hours %></h4>
              </div><!--.tile-body-->
              <div class="tile-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 4px 15px;color: #fff;background-color: #f68247;">
                &nbsp;
              </div><!--.tile footer-->
            </div><!-- .tile-->
          </td>
          <td>
            <div class="tile blue" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #3693d6;">
              <div class="tile-title clearfix" style="background-color:#3693d6;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;text-transform: capitalize;padding: 3px 15px;">
                Average Gross Hourly Rate
                <span class="pull-right" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: right;"></span>
              </div><!--.tile-title-->
              <div class="tile-body clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;height:60px;">
                <i class="fa fa-usd" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 35px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;"></i>
                <h4 class="pull-right" id="hourlyRateHero" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 400;line-height: 1.1;color: #fff;margin-top: 0px;margin-bottom: 10px;font-size: 35px;float: right;text-transform: uppercase;margin: 0px;"><%= number_to_currency @offer.hourly_rate %></h4>
              </div><!--.tile-body-->
              <div class="tile-footer" style="background-color:#3693d6;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 4px 15px;">
                &nbsp;
              </div><!--.tile footer-->
            </div><!-- .tile-->
          </td>
          <td>
            <div class="tile purple" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #24aa65;">
              <div class="tile-title clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;text-transform: capitalize;background-color: #24aa65;padding: 3px 15px;">
                Average Gross Monthly Rate
                <span class="pull-right" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: right;"></span>
              </div><!--.tile-title-->
              <div class="tile-body clearfix" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;height:60px;">
                <i class="fa fa-calendar" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 35px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;"></i>
                <h4 class="pull-right" id="grossMonthlyRateHero" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 400;line-height: 1.1;color: #fff;margin-top: 0px;margin-bottom: 10px;font-size: 35px;float: right;text-transform: uppercase;margin: 0px;"><%= number_to_currency @offer.monthly_offer %></h4>
              </div><!--.tile-body-->
              <div class="tile-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 4px 15px;color: #fff;background-color: #24aa65;">
                &nbsp;
              </div><!--.tile footer-->
            </div><!-- .tile-->
          </td>
        </tr>
        </tbody>
      </table>

    <br />
    <table width="100%">
      <tr>
        <td style="padding: 15px;"><strong>PREPARED BY:<br />
        Michael Kokernak<br />
        Direct: 617-390-7547<br />
        </strong></td>
        <td style="text-align:right;padding:15px;"><img src="http://i.imgur.com/wFdPaZe.png"></td>
      </tr>
    </table>
    <table width="100%">
      <tr><td style="padding: 15px;color: #009a9b;font-weight:bold;">MEDIA OUTLET INFORMATION</td><td style="color: #009a9b;font-weight:bold;">PROGRAMMER INFORMATION</td></tr>
    </table>
  <table width="100%">
    <tr>
      <td style="padding: 15px;">


            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">NAME:</strong> <%= @offer.outlet.name %>
            <br />
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Market:</strong>
            <%= @offer.outlet.dma.name %>
            <br />
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">
              Type:</strong> <%= @offer.outlet.outlet_type.name %>
        <br />
          <% if @outlet.website %>


                <strong>Media Outlet Website:</strong> <a href="<%= @outlet.website.start_with?('http://') ? @outlet.website : 'http://' + @outlet.website %>" target="_new"><%= @outlet.website %></a>
            <br />
          <% end %>


            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Estimated
              MVPD
              Subscribers:</strong>
            <%= number_with_delimiter @offer.outlet.subs %>
          <br />
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Estimated
              Over
              the Air Homes:</strong>
            <%= number_with_delimiter @offer.outlet.over_air %>
          <br />
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Time
              Zone:</strong> <%= @offer.outlet.time_zone %>



      </td>
      <td>
        <strong>Name:</strong> <%= @offer.programmers.first.name %>
        <br />
        <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Available
          Date:</strong> <%= @offer.available_date %>
        <br />

        <strong>Type:</strong> <%= @offer.programmers.first.programmerType %>
        <br />
        <strong>Website:</strong> <a href="<%= @offer.programmers.first.website.start_with?('http://') ? @offer.programmers.first.website : 'http://' + @offer.programmers.first.website %>" target="_new"><%= @offer.programmers.first.website %></a>
        <br />
        <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Description:</strong> <%= @offer.programmers.first.description %>
      </td>
    </tr>
  </table>
<br/>
    <div style="margin-left:auto;margin-right:auto;text-align:center;"><font style="font-family:Helvetica, Arial, sans-serif;color:#49c0ba;font-size: 30px;">Gross Rate Worksheet</font><hr style="width:90%;color:#49c0ba;height:5px;border: 0;background-color: #49c0ba;"></div>

  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;width: 100%;">
  <div class="panel panel-default margin-b-30 " style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 30px;background-color: #fff;border: 0px;border-radius: 0px;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: 0px;border-color: #ddd;-webkit-border-radius: 0px;">
    <!-- Start .panel -->
    <div class="panel-heading" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;position: relative;color: #333;background-color: #eee;border-color: #f5f5f5;">
      <h4 class="panel-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 700;line-height: 1.1;color: inherit;margin-top: 0;margin-bottom: 0;font-size: 13px;text-transform: uppercase;">&nbsp;</h4>
      <div class="panel-actions" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;right: 15px;position: absolute;top: 8px;">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #999;text-decoration: underline;transition: all 0.3s ease-in-out;display: inline-block;margin-left: 10px;"></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #999;text-decoration: underline;transition: all 0.3s ease-in-out;display: inline-block;margin-left: 10px;"></a>
      </div>
    </div>
    <div class="panel-body" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;background-color: #f5f5f5;">
      <table class="table table-bordered" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-collapse: collapse !important;border-spacing: 0;background-color: transparent;width: 100%;max-width: none !important;margin-bottom: 6px !important;border: 1px solid #ddd;clear: both;margin-top: 6px !important;">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Total
              MVPD and OTA Homes</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.outlet.total_homes %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">MVPD
              Subs</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.outlet.subs %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">OTA
              Homes</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.outlet.over_air %></td>

        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">FTEH
              Annual Rate MVPD/OTA</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.dollar_amount %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;">&nbsp;</td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">&nbsp;</td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;">&nbsp;</td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Half Hour Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.halfHourRate %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Hour Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.hourly_rate %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">&nbsp;</td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;">&nbsp;</td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">MVPD
              Yearly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.mvpdSubscriberRate %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">OTA
              Yearly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.mvpdOtaSubRate %>
          </td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">&nbsp;</td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;">&nbsp;</td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Weekly
              Hours</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.weekly_hours %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Monthly
              Hours</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.monthly_hours %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Yearly
              Hours</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_with_delimiter @offer.yearly_hours %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Weekly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.weekly_offer %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Monthly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.monthly_offer %></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Yearly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= number_to_currency @offer.yearly_offer %></td>
        </tr>
        </tbody>
      </table>
      <pre style="overflow: auto;"><%= @offer.grNotes %></pre>
    </div>
  </div>
</div>
    <div style="margin-left:auto;margin-right:auto;text-align:center;"><font style="font-family:Helvetica, Arial, sans-serif;color:#49c0ba;font-size: 30px;">Dayparts</font><hr style="width:90%;color:#49c0ba;height:5px;border: 0;background-color: #49c0ba;"></div>

<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;width: 100%;">
  <div class="panel panel-default margin-b-30 " style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 30px;background-color: #fff;border: 0px;border-radius: 0px;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: 0px;border-color: #ddd;-webkit-border-radius: 0px;">
    <!-- Start .panel -->
    <div class="panel-heading" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;position: relative;color: #333;background-color: #eee;border-color: #f5f5f5;">
      <h4 class="panel-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Tahoma Regular' !important;font-weight: 700;line-height: 1.1;color: inherit;margin-top: 0;margin-bottom: 0;font-size: 13px;text-transform: uppercase;">&nbsp;</h4>
      <div class="panel-actions" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;right: 15px;position: absolute;top: 8px;">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #999;text-decoration: underline;transition: all 0.3s ease-in-out;display: inline-block;margin-left: 10px;"></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #999;text-decoration: underline;transition: all 0.3s ease-in-out;display: inline-block;margin-left: 10px;"></a>
      </div>
    </div>
    <div class="panel-body" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;background-color: #f5f5f5;">
      <table class="table table-bordered" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-collapse: collapse !important;border-spacing: 0;background-color: transparent;width: 100%;max-width: none !important;margin-bottom: 6px !important;border: 1px solid #ddd;clear: both;margin-top: 6px !important;">
        <thead style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: table-header-group;cursor: context-menu;">
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;background-color: #fff !important;">&nbsp;</td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Time
              Period</strong></td>
          <td style="background-color: lightgrey;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Est.
              % of Weekly Viewing</strong></td>
          <td style="background-color: lightgrey;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Est.
              Gross Hourly Rate</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;background-color: lightgrey !important;">
            <strong style="background-color: lightgrey;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Total
              Hours</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 0;border: 1px solid #ddd !important;border-bottom-width: 2px;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Gross
              Weekly Rate</strong></td>
        </tr>
        </thead>
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow morning" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightcyan !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Early
              Morning</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">6am
            to 10am
          </td>
          <td id="morningAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.morningAudience %></td>
          <td id="morningRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.morningRate %></td>
          <td id="morningHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.morningHours %></td>
          <td id="morningWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.morningWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow daytime" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightblue !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Daytime</strong>
          </td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">10am
            to 4:30pm
          </td>
          <td id="daytimeAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.daytimeAudience %></td>
          <td id="daytimeRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.daytimeRate %></td>
          <td id="daytimeHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.daytimeHours %></td>
          <td id="daytimeWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.daytimeWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow eveningNews" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgreen !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Evening
              News</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">4:30pm
            to 7pm
          </td>
          <td id="eveningNewsAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.eveningNewsAudience %></td>
          <td id="eveningNewsRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.eveningNewsRate %></td>
          <td id="eveningNewsHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.eveningNewsHours %></td>
          <td id="eveningNewsWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.eveningNewsWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow localPrimeTime" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: palegoldenrod !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Local
              Prime Time</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">7pm
            to 8pm
          </td>
          <td id="localPrimeTimeAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.localPrimeTimeAudience %></td>
          <td id="localPrimeTimeRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.localPrimeTimeRate %></td>
          <td id="localPrimeTimeHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.localPrimeTimeHours %></td>
          <td id="localPrimeTimeWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.localPrimeTimeWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow nationalPrimeTime" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: thistle !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">National
              Prime Time</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">8pm
            to 11pm
          </td>
          <td id="nationalPrimeTimeAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.nationalPrimeTimeAudience %></td>
          <td id="nationalPrimeTimeRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.nationalPrimeTimeRate %></td>
          <td id="nationalPrimeTimeHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.nationalPrimeTimeHours %></td>
          <td id="nationalPrimeTimeWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.nationalPrimeTimeWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow lateNews" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: pink !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Late
              News</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">11pm
            to 11:30pm
          </td>
          <td id="lateNewsAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNewsAudience %></td>
          <td id="lateNewsRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNewsRate %></td>
          <td id="lateNewsHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNewsHours %></td>
          <td id="lateNewsWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNewsWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow lateNight" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: darkseagreen !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Late
              Night</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">11:30pm
            to 1am
          </td>
          <td id="lateNightAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNightAudience %></td>
          <td id="lateNightRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNightRate %></td>
          <td id="lateNightHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNightHours %></td>
          <td id="lateNightWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.lateNightWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="dayPartRow overnights" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #f7caa0 !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Overnights</strong>
          </td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">1am
            to 6am
          </td>
          <td id="overnightsAudience" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.overnightsAudience %></td>
          <td id="overnightsRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.overnightsRate %></td>
          <td id="overnightsHours" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.overnightsHours %></td>
          <td id="overnightsWeeklyRate" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: #fff !important;"><%= @offer.overnightsWeeklyRate %></td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;">
            <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: bold;">Total
              Worksheet</strong></td>
          <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"></td>
          <td id="runningAudienceTotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"><%= @offer.runningAudienceTotal %></td>
          <td id="runningAverageRateTotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"></td>
          <td id="runningHoursTotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"><%= @offer.runningHoursTotal %></td>
          <td id="runningWeeklyRateTotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;border: 1px solid #ddd !important;background-color: lightgrey !important;"><%= @offer.runningWeeklyRateTotal %></td>
        </tr>
        </tbody>
      </table>
      <p><%= @offer.dpNotes %></p>
    </div>
  </div>
</div>
    <div style="margin-left:auto;margin-right:auto;text-align:center;"><font style="font-family:Helvetica, Arial, sans-serif;color:#49c0ba;font-size: 30px;">Proposed Programming Schedule</font><hr style="width:90%;color:#49c0ba;height:5px;border: 0;background-color: #49c0ba;"></div>

<div>
  <%= render :partial => 'offers/email_grid' %>
</div>
<br />
  <div id="disclaimer">
    <p style="font-size: 10pt;"><%= @offer.disclaimer %></p>
  </div>
</div>
</div>