<div class="text-center"><h1>Grid 168 Worksheet</h1></div>
<h2>Bid prepared by: <%= image_tag('across.png') %></h2>
<hr/>
<div class="col-md-6">
  <h3><strong>Media Outlet:</strong> <%= @offer.outlet.name %></h3>
  <h3><strong>Market:</strong> <%= @offer.outlet.dma.name %></h3>
  <h3><strong>Media Type:</strong> <%= @offer.outlet.outlet_type.name %></h3>
</div>
<div class="col-md-6">
  <h3><strong>MVPD Subscribers:</strong>
    <%= @offer.outlet.subs %>
  </h3>
  <h3><strong>Over the Air Homes:</strong></h3>
  <%= @offer.outlet.over_air %>
  <h3><strong>Time Zone:</strong> <%= @offer.outlet.time_zone %></h3>
  <h3><strong>Available Date:</strong> <%= @offer.available_date %></h3>
</div>
<div class="col-md-12" style="margin-top: 10px; ">
  <div class="col-sm-6 col-md-3 margin-b-30">
    <div class="tile red">
      <div class="tile-title clearfix">
        Total MVPD and OTA Homes
        <span class="pull-right"></span>
      </div><!--.tile-title-->
      <div class="tile-body clearfix">
        <i class="fa fa-home"></i>
        <h4 class="pull-right delimited" id="totalHomes"><%= @offer.outlet.total_homes %></h4>
      </div><!--.tile-body-->
      <div class="tile-footer">
        &nbsp;
      </div><!--.tile footer-->
    </div><!-- .tile-->

  </div><!-- .col -->
  <div class="col-sm-6 col-md-3 margin-b-30">
    <div class="tile green">
      <div class="tile-title clearfix">
        Total Weekly Hours
        <span class="pull-right"></span>
      </div><!--.tile-title-->
      <div class="tile-body clearfix">
        <i class="fa fa-clock-o"></i>
        <h4 class="pull-right" id="totalHoursHero">&nbsp;</h4>
      </div><!--.tile-body-->
      <div class="tile-footer">
        &nbsp;
      </div><!--.tile footer-->
    </div><!-- .tile-->
  </div><!--end .col-->

  <div class="col-sm-6 col-md-3 margin-b-30">
    <div class="tile blue">
      <div class="tile-title clearfix">
        Average Gross Hourly Rate
        <span class="pull-right"></span>
      </div><!--.tile-title-->
      <div class="tile-body clearfix">
        <i class="fa fa-usd"></i>
        <h4 class="pull-right" id="hourlyRateHero"></h4>
      </div><!--.tile-body-->
      <div class="tile-footer">
        &nbsp;
      </div><!--.tile footer-->
    </div><!-- .tile-->
  </div><!--end .col-->
  <div class="col-sm-6 col-md-3 margin-b-30">
    <div class="tile purple">
      <div class="tile-title clearfix">
        Average Gross Monthly Rate
        <span class="pull-right"></span>
      </div><!--.tile-title-->
      <div class="tile-body clearfix">
        <i class="fa fa-calendar"></i>
        <h4 class="pull-right" id="grossMonthlyRateHero"></h4>
      </div><!--.tile-body-->
      <div class="tile-footer">
        &nbsp;
      </div><!--.tile footer-->
    </div><!-- .tile-->
  </div><!--end .col-->
</div>
<h2>Gross Rate Worksheet</h2>
<div class="col-md-12">
  <div class="panel panel-default margin-b-30 ">
    <!-- Start .panel -->
    <div class="panel-heading">
      <h4 class="panel-title">&nbsp;</h4>
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><strong>Total MVPD and OTA Homes</strong></td>
          <td><%= @offer.outlet.total_homes %></td>
          <td><strong>MVPD Subs</strong></td>
          <td><%= @offer.outlet.subs %></td>
          <td><strong>OTA Homes</strong></td>
          <td><%= @offer.outlet.over_air %></td>

        </tr>
        <tr>
          <td><strong>FTEH Rate for MVPD and OTA</strong></td>
          <td><%= @offer.dollar_amount %></td>
          <td></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><strong>Gross Half Hour Rate</strong></td>
          <td><%= @offer.halfHourRate %></td>
          <td><strong>Gross Hour Rate</strong></td>
          <td><%= @offer.hourly_rate %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><strong>MVPD Subscriber Rate</strong></td>
          <td><%= @offer.mvpdSubscriberRate %></td>
          <td><strong>MVPD-OTA Sub Rate</strong></td>
          <td><%= @offer.mvpdOtaSubRate %>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><strong>Weekly Hours</strong></td>
          <td><%= @offer.weekly_hours %></td>
          <td><strong>Monthly Hours</strong></td>
          <td><%= @offer.monthly_hours %></td>
          <td><strong>Yearly Hours</strong></td>
          <td><%= @offer.yearly_hours %></td>
        </tr>
        <tr>
          <td><strong>Gross Weekly Rate</strong></td>
          <td><%= number_to_currency @offer.weekly_offer %></td>
          <td><strong>Gross Monthly Rate</strong></td>
          <td><%= number_to_currency @offer.monthly_offer %></td>
          <td><strong>Gross Yearly Rate</strong></td>
          <td><%= number_to_currency @offer.yearly_offer %></td>
        </tr>
        </tbody>
      </table>
      <textarea class="form-control"><%= @offer.grNotes %></textarea>
    </div>
  </div>
</div>
</div>
<h2>Dayparts</h2>
<div class="col-md-12">
  <div class="panel panel-default margin-b-30 ">
    <!-- Start .panel -->
    <div class="panel-heading">
      <h4 class="panel-title">&nbsp;</h4>
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td>&nbsp;</td>
          <td><strong>Time Period</strong></td>
          <td><strong>Est. % of Weekly Viewing</strong></td>
          <td><strong>Est. Gross Hourly Rate</strong></td>
          <td><strong>Total Hours</strong></td>
          <td><strong>Gross Weekly Rate</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="dayPartRow morning"><strong>Early Morning</strong></td>
          <td>6am to 10am</td>
          <td id="morningAudience"><%= @offer.morningAudience %></td>
          <td id="morningRate"><%= @offer.morningRate %></td>
          <td id="morningHours"><%= @offer.morningHours %></td>
          <td id="morningWeeklyRate"><%= @offer.morningWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow daytime"><strong>Daytime</strong></td>
          <td>10am to 4:30pm</td>
          <td id="daytimeAudience"><%= @offer.daytimeAudience %></td>
          <td id="daytimeRate"><%= @offer.daytimeRate %></td>
          <td id="daytimeHours"><%= @offer.daytimeHours %></td>
          <td id="daytimeWeeklyRate"><%= @offer.daytimeWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow eveningNews"><strong>Evening News</strong></td>
          <td>4:30pm to 7pm</td>
          <td id="eveningNewsAudience"><%= @offer.eveningNewsAudience %></td>
          <td id="eveningNewsRate"><%= @offer.eveningNewsRate %></td>
          <td id="eveningNewsHours"><%= @offer.eveningNewsHours %></td>
          <td id="eveningNewsWeeklyRate"><%= @offer.eveningNewsWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow localPrimeTime"><strong>Local Prime Time</strong></td>
          <td>7pm to 8pm</td>
          <td id="localPrimeTimeAudience"><%= @offer.localPrimeTimeAudience %></td>
          <td id="localPrimeTimeRate"><%= @offer.localPrimeTimeRate %></td>
          <td id="localPrimeTimeHours"><%= @offer.localPrimeTimeHours %></td>
          <td id="localPrimeTimeWeeklyRate"><%= @offer.localPrimeTimeWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow nationalPrimeTime"><strong>National Prime Time</strong></td>
          <td>8pm to 11pm</td>
          <td id="nationalPrimeTimeAudience"><%= @offer.nationalPrimeTimeAudience %></td>
          <td id="nationalPrimeTimeRate"><%= @offer.nationalPrimeTimeRate %></td>
          <td id="nationalPrimeTimeHours"><%= @offer.nationalPrimeTimeHours %></td>
          <td id="nationalPrimeTimeWeeklyRate"><%= @offer.nationalPrimeTimeWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow lateNews"><strong>Late News</strong></td>
          <td>11pm to 11:30pm</td>
          <td id="lateNewsAudience"><%= @offer.lateNewsAudience %></td>
          <td id="lateNewsRate"><%= @offer.lateNewsRate %></td>
          <td id="lateNewsHours"><%= @offer.lateNewsHours %></td>
          <td id="lateNewsWeeklyRate"><%= @offer.lateNewsWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow lateNight"><strong>Late Night</strong></td>
          <td>11:30pm to 1am</td>
          <td id="lateNightAudience"><%= @offer.lateNightAudience %></td>
          <td id="lateNightRate"><%= @offer.lateNightRate %></td>
          <td id="lateNightHours"><%= @offer.lateNightHours %></td>
          <td id="lateNightWeeklyRate"><%= @offer.lateNightWeeklyRate %></td>
        </tr>
        <tr>
          <td class="dayPartRow overnights"><strong>Overnights</strong></td>
          <td>1am to 6am</td>
          <td id="overnightsAudience"><%= @offer.overnightsAudience %></td>
          <td id="overnightsRate"><%= @offer.overnightsRate %>></td>
          <td id="overnightsHours"><%= @offer.overnightsHours %></td>
          <td id="overnightsWeeklyRate"><%= @offer.overnightsWeeklyRate %></td>
        </tr>
        <tr>
          <td><strong>Total Worksheet</strong></td>
          <td></td>
          <td id="runningAudienceTotal"><%= @offer.runningAudienceTotal %></td>
          <td id="runningAverageRateTotal"></td>
          <td id="runningHoursTotal"><%= @offer.runningHoursTotal %></td>
          <td id="runningWeeklyRateTotal"><%= @offer.runningWeeklyRateTotal %></td>
        </tr>
        </tbody>
      </table>
      <textarea class="form-control"><%= @offer.dpNotes %></textarea>
    </div>
  </div>
</div>
<h2>Proposed Programming Schedule</h2>
<div class="col-md-12 hours_div">
  <div class="gridContainer">
    <div class="gridContainerHeader" style="display:flex;">
      <%= render :partial => 'offers/grid' %>
    </div>
  </div>
</div>