<%= form_for @offer, :class => 'form-inline' do |f| -%>
    <%= f.hidden_field :time_cells, :value => @offer.time_cells %>
    <%= f.hidden_field :total_hours %>
    <%= f.hidden_field :outlet_id, :value => @offer.outlet.id %>
    <%= f.hidden_field :mvpdSubscriberRate, :id => 'mvpdSubscriberRate' %>
    <%= f.hidden_field :mvpdOtaSubRate, :id => 'mvpdOTASubRate' %>
    <%= f.hidden_field :halfHourRate, :id => 'halfHourRate' %>
    <% dayParts = %w(morning daytime eveningNews localPrimeTime nationalPrimeTime lateNews lateNight overnights) %>
    <% dayParts.each do |daypart| -%>
        <% %w(Audience Rate Hours WeeklyRate).each do |item| -%>
            <% id = [daypart, item].join %>
            <% name = "offer[#{id}]" %>
            <input type="hidden" name="<%= name %>" id="<%= id %>"/>
        <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <h1><%= @outlet.name %></h1>
        <p><%= link_to '(edit)', edit_outlet_path(@outlet.id) %></p>
        <div class="form-group">
          <%= fields_for @offer.outlet do |o| -%>
              <%= o.label :subs, 'MVPD Subscribers' %>
              <%= o.text_field :subs, :class => 'form-control delimited', :id => 'mvpdSubscribers' %>
              <%= o.label :over_air, 'OTA Homes' %>
              <%= o.text_field :over_air, :class => 'form-control delimited', :id => 'otaHomes' %>
              <%= o.label :total_homes, 'Total Homes', :id => 'totalHomes' %>
              <%= o.text_field :total_homes, :class => 'form-control delimited' %>
          <% end %>
        </div>
        <div style="margin-bottom:15px;">
          <a href="#">
            <button type="button" class="btn btn-primary" id="selectAll">Select All</button>
          </a>
          <a href="#">
            <button type="button" class="btn btn-primary" id="invert">Invert Selection</button>
          </a>
          <% if action_name != 'new' -%>
              <a href="<%= url_for(offer_path(@offer.id)) %>">
                <button type="button" class="btn btn-default">Go to Show View</button>
              </a>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <h3><strong><%= f.label :dma, 'DMA:' %></strong> <%= @outlet.dma.name rescue "None" %></h3>
          <h3><strong><%= f.label :subs, 'Subs:' %></strong> <%= number_with_delimiter @outlet.subs %></h3>

          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.text_field :dollar_amount, :class => 'form-control', :placeholder => @offer.dollar_amount, :style => 'width: 30%;', :id => '247mvpdSubEstimate' %>
          </div>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-8 hours_div">
        <div class="gridContainer">
          <div class="gridContainerHeader" style="display:flex;">
            <%= render :partial => 'offers/grid' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rate_info">
          <h1>Rate</h1>
          <span>Hourly Rate: <%= f.text_field :hourly_rate, :id => 'hourlyRate' %></span>
          <span class="pull-right">Total Hours: <%= f.text_field :total_hours, :value => @offer.total_hours, :id => 'totalHours' %></span>
          <table class="table table-condensed">
            <thead>
            <tr>
              <td>Offer</td>
              <td>Hours</td>
              <td>
                <div class="pull-right">Rate</div>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Weekly</td>
              <td>
                <%= f.text_field :weekly_hours, :value => @offer.weekly_hours, :id => 'weeklyHours' %>
              </td>
              <td>
                <div class="input-group col-xs-12">
                  <div class="input-group-addon">$</div>
                  <%= f.text_field :weekly_offer, :class => 'form-control offerInput', :id => 'weeklyRate' %>
                </div>
            </tr>
            <tr>
              <td>Monthy</td>
              <td>
                <%= f.text_field :monthly_hours, :value => @offer.monthly_hours, :id => 'monthlyHours' %>
              </td>
              <td>
                <div class="input-group col-xs-12">
                  <div class="input-group-addon">$</div>
                  <%= f.text_field :monthly_offer, :class => 'form-control offerInput', :id => 'monthlyRate' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>Yearly</td>
              <td>
                <%= f.text_field :yearly_hours, :value => @offer.yearly_hours, :id => 'yearlyHours' %>
              </td>
              <td>
                <div class="input-group col-xs-12">
                  <div class="input-group-addon">$</div>
                  <%= f.text_field :yearly_offer, :class => 'form-control offerInput', :id => 'yearlyRate' %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div>
            <button type="button" id="calculate" class="btn btn-primary">Calculate</button>
            <button type="button" id="reset" class="btn btn-default">Reset</button>
          </div>
        </div>
        <br/>
        <div>
          <h1>Programmers</h1>
          <% if @programmers.empty? %>
              You must create a programmer record to associate with this offer before you can save it.
          <% else %>
              <%= select('offer', 'programmer_ids', Programmer.order(:name).collect { |d| [d.name, d.id] }, {include_blank: true}) %>
          <% end %>
          <div class="pull-right"><%= link_to 'Add a programmer', new_programmer_url, :class => 'btn btn-default' %></div>
        </div>
        <br/>
        <div>
          <h1>Notes</h1>
          <p>Add a note to the Gross Rate Worksheet</p>
          <%= f.text_area :grNotes, :class => 'form-control offer_note' %>
          <br/>
          <p>Add a note after Dayparts</p>
          <%= f.text_area :dpNotes, :class => 'form-control offer_note' %>
        </div>
        <br/>
        <div>
          <p>Available Date</p>
          <%= f.text_field :available_date, :class => 'form-control dp' %>
        </div>
        <br/>
        <div>
          <%= f.submit 'Save Offer', :class => 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
<% end %>
