<%= stylesheet_link_tag 'offers' %>
<%= javascript_include_tag 'grid', :defer => 'defer' %>
<style type="text/css">
  input {
    background-color: transparent;
    border: 0 solid;
  }

  input:focus {
    outline: none;

  }
</style>
<form id="displayForm">
<%= hidden_field_tag 'offer_time_cells', raw(@offer.time_cells) %>
<div class="text-center"><h1>Grid 168 Programming Financial Worksheet</h1></div>
<h2>Bid prepared by: <%= image_tag("across.png") %></h2>
<hr />
<div class="col-md-6">
  <h3><strong>Media Outlet:</strong> <%= @offer.outlet.name %></h3>
  <h3><strong>Market:</strong> <%= @offer.outlet.dma.name %></h3>
  <h3><strong>Media Type:</strong> <%= @outlet.outlet_type.name %></h3>
</div>
<div class="col-md-6">
  <h3><strong>MVPD Subscribers:</strong>
    <input class="delimited" type="text" value="<%= @outlet.subs %>" id="mvpdSubscribers"/></h3>
  <h3><strong>Over the Air Homes:</strong>
    <input class="delimited" type="text" value="<%= @outlet.over_air %>" id="otaHomes"/></h3>
  <h3><strong>Total Homes:</strong>
    <input class="delimited" type="text" value="<%= @outlet.total_homes %>" id="totalHomes"/></h3>
  <h3><strong>Time Zone:</strong> <%= @outlet.time_zone %></h3>
  <h3><strong>Available Date:</strong> <%= @offer.available_date %></h3>
</div>
<h2>Gross Rate Worksheet</h2>
<div class="col-md-12">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">&nbsp;</h4>
        <div class="panel-actions">
          <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
          <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><strong>24/7 MVPD Sub Estimate</strong></td>
            <td><input type="text" id="subEstimate" value="<%= number_to_currency @offer.dollar_amount %>"/></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Half Hour Rate</strong></td>
            <td><input type="text" id="halfHourRate"/></td>
            <td><strong>Hour Rate</strong></td>
            <td><input type="text" id="hourRate"/></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>MVPD Subscriber Rate</strong></td>
            <td><input type="text" id="mvpdSubscriberRate"/></td>
            <td><strong>MVPD-OTA Sub Rate</strong></td>
            <td><input type="text" id="mvpdOTASubRate"/></td>
            <td><strong>Total Homes 24/7 Rate</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Weekly Hours</strong></td>
            <td><input type="text" value="<%= @offer.weekly_hours %>"/></td>
            <td><strong>Monthly Hours</strong></td>
            <td><input type="text" id="monthlyHours" value="<%= @offer.monthly_hours %>"/></td>
            <td><strong>Yearly Hours</strong></td>
            <td><input type="text" id="yearlyHours" value="<%= @offer.yearly_hours %>"/></td>
          </tr>
          <tr>
            <td><strong>Weekly Rate</strong></td>
            <td><input type="text" id="weeklyRate" value="<%= number_to_currency @offer.weekly_offer %>"/></td>
            <td><strong>Monthly Rate</strong></td>
            <td><input type="text" id="monthlyRate" value="<%= number_to_currency @offer.monthly_offer %>"/></td>
            <td><strong>Yearly Rate</strong></td>
            <td><input type="text" id="yearlyRate" value="<%= number_to_currency @offer.yearly_offer %>"/></td>
          </tr>
          </tbody>
        </table>
        <textarea class="form-control"><%= @offer.grNotes %></textarea>
      </div>
    </div>
  </div>
</form>
</div>
<h2>Dayparts</h2>
<div class="col-md-12">
  <form id="dayPartsForm">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">&nbsp;</h4>
        <div class="panel-actions">
          <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
          <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>&nbsp;</td>
            <td><strong>Time Period</strong></td>
            <td><strong>Weekly Audience</strong></td>
            <td><strong>Average Hour Rate</strong></td>
            <td><strong>Total Hours</strong></td>
            <td><strong>Weekly Rate</strong></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>Early Morning</strong></td>
            <td>6am to 10am</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Daytime</strong></td>
            <td>10am to 4:30pm</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Evening News</strong></td>
            <td>4:30pm to 7pm</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Local Prime Time</strong></td>
            <td>7pm to 8pm</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>National Prime Time</strong></td>
            <td>8pm to 11pm</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Late News</strong></td>
            <td>11pm to 11:30pm</td>
          </tr>
          <tr>
            <td><strong>Late Night</strong></td>
            <td>11:30pm to 1am</td>
          </tr>
          <tr>
            <td><strong>Overnights</strong></td>
            <td>1am to 6am</td>
          </tr>
          <tr>
            <td><strong>Total Worksheet</strong></td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <textarea class="form-control"><%= @offer.dpNotes %></textarea>
      </div>
    </div>
  </form>
</div>
<h2>Proposed Programming Schedule</h2>
<div class="col-md-12 hours_div">
  <div class="gridContainer">
    <div class="gridContainerHeader" style="display:flex;">
      <%= render :partial => 'offers/grid' %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'sheet', :defer => 'defer' %>
