<%= stylesheet_link_tag 'offers' %>
<%= hidden_field_tag 'offer_time_cells', raw(@offer.time_cells) %>
<h1>Grid168 Programming Financial Worksheet</h1>
<h2>Bid prepared by: <%= image_tag("across.png") %></h3>
<hr />
<div class="col-md-6">
  <h3><strong>Media Outlet:</strong> <%= @offer.outlet.name %></h3>
  <h3><strong>Market:</strong> <%= @offer.outlet.dma.name %></h3>
  <p><strong>Media Type:</strong> <%= @outlet.outlet_type.name %></p>
</div>
<div class="col-md-6">
  <p><strong>MVPD Subscribers:</strong> <%= @outlet.subs %></p>
  <p><strong>Over the Air Homes:</strong> <%= @outlet.over_air %></p>
  <p><strong>Total Homes:</strong> <%= @outlet.total_homes %></p>
  <p><strong>Time Zone:</strong> <%= @outlet.time_zone %></p>
  <p><strong>Available Date:</strong> <%= @offer.available_date %></p>
</div>
<h2>Proposed Programming Schedule</h2>
<div class="col-md-8 hours_div">
        <div class="gridContainer">
          <div class="gridContainerHeader" style="display:flex;">
            <% [['Monday', 0], ['Tuesday', 1], ['Wednesday', 2], ['Thursday', 3], ['Friday', 4], ['Saturday', 5], ['Sunday', 6]].each do |day, num| -%>
                <div class="day">
                  <div class="dayLabel"><%= day %></div>
                  <% start = Time.new(0) %>
                  <% fin = start + (60 * 60 * 24) %>
                  <% while start < fin do -%>
                      <div class="cell" data-selected="false" data-day="<%= num %>" data-time="<%= start.strftime('%H:%M') %>"><%= start.strftime('%H:%M') %></div>
                      <% start += 30.minutes %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
