<%= stylesheet_link_tag 'offers' %>
<style type="text/css">
  input {
    background-color: transparent;
    border: 0 solid;
  }

  input:focus {
    outline: none;

  }
</style>
<%= form_for @offer do |f| -%>
    <%= hidden_field_tag "offer_time_cells", @offer.time_cells %>
  <div class="text-center"><h1>Grid 168 Worksheet</h1></div>
    <h2>Bid prepared by: <%= image_tag('across.png') %></h2>
  <hr/>
  <div class="col-md-6">
    <h3><strong>Media Outlet:</strong> <%= @offer.outlet.name %></h3>
    <h3><strong>Market:</strong> <%= @offer.outlet.dma.name %></h3>
    <h3><strong>Media Type:</strong> <%= @outlet.outlet_type.name %></h3>
  </div>
  <div class="col-md-6">
    <%= fields_for @offer.outlet do |o| -%>
        <h3><strong>MVPD Subscribers:</strong>
          <%= o.text_field :subs, :class => 'delimited', :id => 'mvpdSubscribers' %>
        </h3>
        <h3><strong>Over the Air Homes:</strong>
          <%= o.text_field :over_air, :class => 'delimited', :id => 'otaHomes' %></h3>
      <h3><strong>Time Zone:</strong> <%= @offer.outlet.time_zone %></h3>
    <h3><strong>Available Date:</strong> <%= @offer.available_date %></h3>
  </div>
  <div class="col-md-12" style="margin-top: 10px; ">
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="tile red">
        <div class="tile-title clearfix">
          Total MVPD and OTA Homes
          <span class="pull-right"></span>
        </div><!--.tile-title-->
        <div class="tile-body clearfix">
          <i class="fa fa-home"></i>
          <h4 class="pull-right delimited" id="totalHomesHero"><%= @offer.outlet.total_homes %></h4>
        </div><!--.tile-body-->
        <div class="tile-footer">
          &nbsp;
        </div><!--.tile footer-->
      </div><!-- .tile-->

    </div><!-- .col -->
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="tile green">
        <div class="tile-title clearfix">
          Total Weekly Hours
          <span class="pull-right"></span>
        </div><!--.tile-title-->
        <div class="tile-body clearfix">
          <i class="fa fa-clock-o"></i>
          <h4 class="pull-right" id="totalHoursHero">&nbsp;</h4>
        </div><!--.tile-body-->
        <div class="tile-footer">
          &nbsp;
        </div><!--.tile footer-->
      </div><!-- .tile-->
    </div><!--end .col-->

    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="tile blue">
        <div class="tile-title clearfix">
          Average Gross Hourly Rate
          <span class="pull-right"></span>
        </div><!--.tile-title-->
        <div class="tile-body clearfix">
          <i class="fa fa-usd"></i>
          <h4 class="pull-right" id="hourlyRateHero"></h4>
        </div><!--.tile-body-->
        <div class="tile-footer">
          &nbsp;
        </div><!--.tile footer-->
      </div><!-- .tile-->
    </div><!--end .col-->
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="tile purple">
        <div class="tile-title clearfix">
          Average Gross Monthly Rate
          <span class="pull-right"></span>
        </div><!--.tile-title-->
        <div class="tile-body clearfix">
          <i class="fa fa-calendar"></i>
          <h4 class="pull-right" id="grossMonthlyRateHero"></h4>
        </div><!--.tile-body-->
        <div class="tile-footer">
          &nbsp;
        </div><!--.tile footer-->
      </div><!-- .tile-->
    </div><!--end .col-->
  </div>
  <h2>Gross Rate Worksheet</h2>
  <div class="col-md-12">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">&nbsp;</h4>
        <div class="panel-actions">
          <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
          <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><strong>Total MVPD and OTA Homes</strong></td>
            <td><%= o.text_field :total_homes, :id => 'totalHomes', :class => 'delimited' %></td>
            <td><strong>MVPD Subs</strong></td>
            <td><%= o.text_field :subs, :id => 'mvpdSubscribers', :class => 'delimited' %></td>
            <td><strong>OTA Homes</strong></td>
            <td><%= o.text_field :over_air, :id => 'otaHomes', :class => 'delimited' %></td>

          </tr>
          <tr>
            <td><strong>FTEH Annual Rate MVPD/OTA</strong></td>
            <td><%= f.text_field :dollar_amount, :id => '247mvpdSubEstimate' %></td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Gross Half Hour Rate</strong></td>
            <td><%= f.text_field :halfHourRate, :id => 'halfHourRate', :value => number_to_currency(@offer.halfHourRate) %></td>
            <td><strong>Gross Hour Rate</strong></td>
            <td><%= f.text_field :hourRate, :value => number_to_currency(@offer.hourly_rate), :id => 'hourlyRate' %></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>MVPD Year Rate</strong></td>
            <td><%= f.text_field :mvpdSubscriberRate, :id => 'mvpdSubscriberRate' %></td>
            <td><strong>OTA Year Rate</strong></td>
            <td><%= f.text_field :mvpdOtaSubRate, :id => 'mvpdOTASubRate' %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Weekly Hours</strong></td>
            <td><input type="text" value="<%= @offer.weekly_hours %>" id="weeklyHours"/></td>
            <td><strong>Monthly Hours</strong></td>
            <td><input type="text" id="monthlyHours" value="<%= @offer.monthly_hours %>"/></td>
            <td><strong>Yearly Hours</strong></td>
            <td><input type="text" id="yearlyHours" value="<%= @offer.yearly_hours %>"/></td>
          </tr>
          <tr>
            <td><strong>Gross Weekly Rate</strong></td>
            <td><input type="text" id="weeklyRate" value="<%= number_to_currency @offer.weekly_offer %>"/></td>
            <td><strong>Gross Monthly Rate</strong></td>
            <td><input type="text" id="monthlyRate" value="<%= number_to_currency @offer.monthly_offer %>"/></td>
            <td><strong>Gross Yearly Rate</strong></td>
            <td><input type="text" id="yearlyRate" value="<%= number_to_currency @offer.yearly_offer %>"/></td>
          </tr>
          </tbody>
        </table>
        <pre><%= @offer.grNotes %></pre>
      </div>
    </div>
    <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading"><i class="fa fa-info-circle"></i>&nbsp;Info</div>-->
    <!--<div class="panel-body">-->
    <!--<%= @offer.grNotes %>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
<h2>Dayparts</h2>
<div class="col-md-12">
    <div class="panel panel-default margin-b-30 ">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">&nbsp;</h4>
        <div class="panel-actions">
          <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
          <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>&nbsp;</td>
            <td><strong>Time Period</strong></td>
            <td><strong>Est. % of Weekly Viewing</strong></td>
            <td><strong>Est. Gross Hourly Rate</strong></td>
            <td><strong>Total Hours</strong></td>
            <td><strong>Gross Weekly Rate</strong></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="dayPartRow morning"><strong>Early Morning</strong></td>
            <td>6am to 10am</td>
            <td id="morningAudience">&nbsp;</td>
            <td id="morningRate">&nbsp;</td>
            <td id="morningHours">&nbsp;</td>
            <td id="morningWeeklyRate">&nbsp;</td>
          </tr>
          <tr>
            <td class="dayPartRow daytime"><strong>Daytime</strong></td>
            <td>10am to 4:30pm</td>
            <td id="daytimeAudience">&nbsp;</td>
            <td id="daytimeRate">&nbsp;</td>
            <td id="daytimeHours">&nbsp;</td>
            <td id="daytimeWeeklyRate">&nbsp;</td>
          </tr>
          <tr>
            <td class="dayPartRow eveningNews"><strong>Evening News</strong></td>
            <td>4:30pm to 7pm</td>
            <td id="eveningNewsAudience">&nbsp;</td>
            <td id="eveningNewsRate">&nbsp;</td>
            <td id="eveningNewsHours">&nbsp;</td>
            <td id="eveningNewsWeeklyRate">&nbsp;</td>
          </tr>
          <tr>
            <td class="dayPartRow localPrimeTime"><strong>Local Prime Time</strong></td>
            <td>7pm to 8pm</td>
            <td id="localPrimeTimeAudience">&nbsp;</td>
            <td id="localPrimeTimeRate">&nbsp;</td>
            <td id="localPrimeTimeHours">&nbsp;</td>
            <td id="localPrimeTimeWeeklyRate">&nbsp;</td>
          </tr>
          <tr>
            <td class="dayPartRow nationalPrimeTime"><strong>National Prime Time</strong></td>
            <td>8pm to 11pm</td>
            <td id="nationalPrimeTimeAudience">&nbsp;</td>
            <td id="nationalPrimeTimeRate">&nbsp;</td>
            <td id="nationalPrimeTimeHours">&nbsp;</td>
            <td id="nationalPrimeTimeWeeklyRate">&nbsp;</td>
          </tr>
          <tr>
            <td class="dayPartRow lateNews"><strong>Late News</strong></td>
            <td>11pm to 11:30pm</td>
            <td id="lateNewsAudience"></td>
            <td id="lateNewsRate">&nbsp;</td>
            <td id="lateNewsHours"></td>
            <td id="lateNewsWeeklyRate"></td>
          </tr>
          <tr>
            <td class="dayPartRow lateNight"><strong>Late Night</strong></td>
            <td>11:30pm to 1am</td>
            <td id="lateNightAudience"></td>
            <td id="lateNightRate">&nbsp;</td>
            <td id="lateNightHours"></td>
            <td id="lateNightWeeklyRate"></td>
          </tr>
          <tr>
            <td class="dayPartRow overnights"><strong>Overnights</strong></td>
            <td>1am to 6am</td>
            <td id="overnightsAudience"></td>
            <td id="overnightsRate">&nbsp;</td>
            <td id="overnightsHours"></td>
            <td id="overnightsWeeklyRate"></td>
          </tr>
          <tr>
            <td><strong>Total Worksheet</strong></td>
            <td></td>
            <td id="runningAudienceTotal"></td>
            <td id="runningAverageRateTotal">&nbsp;</td>
            <td id="runningHoursTotal"></td>
            <td id="runningWeeklyRateTotal">&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <p>Estimated percentage of weekly viewing is a composite of publicly reported viewing trends across all television channels, and networks, based on live time of day viewing.</p>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<h2>Proposed Programming Schedule</h2>
<div class="col-md-12 hours_div">
  <div class="gridContainer">
    <div class="gridContainerHeader" style="display:flex;">
      <%= render :partial => 'offers/grid' %>
    </div>
  </div>
  <br />
  <div>
    <p><%= @offer.dpNotes %></p>
  </div>
</div>
