<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <% if current_user.admin? %>
        <h1>All Potentials</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a></li>
          <li class="active">All Potentials</li>
        </ol>
      <% else %>
        <h1>My Potentials</h1>
        <ol class="breadcrumb">
          <li><a href='#'><i class="fa fa-home"></i></a></li>
          <li class="active">My Potentials</li>
        </ol>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="navButtons">
      <%= button_to 'New Media Outlet', new_outlet_path, {:class => 'btn btn-primary', :method => :get} %>
      <%= button_to 'New Programmer', new_programmer_path, {:class => 'btn', :method => :get} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="filterBox">
        <input type="text" class="form-control input-md filterText" placeholder="Filter" type="search">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default margin-b-30">
      <div class="panel-heading">
        <h4 class="panel-title">Offers</h4>
        <!--<div class="panel-actions">-->
          <!--<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>-->
          <!--<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>-->
        <!--</div>-->
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="basic-datatables" class="table table-striped sortable filterable">
            <thead>
              <tr>
                <th>Created</th>
                <th>Company Name</th>
                <th>Offer Amount</th>
                <th>Gross Yearly Rate</th>
                <th>Outlet</th>
                <th>Subscribers</th>
                <th>Market</th>
                <th>Type</th>
                <th>Hours</th>
                <th>Status</th>
                <th>User</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @offers.each do |offer| %>
                <tr>
                  <td><%= offer.created_at.strftime '%m/%d/%Y' %></td>
                  <td>
                      <% offer.programmers.each do |p| %>
                      <%= p.name %>
                    <% end %>
                  </td>
                  <td><%= number_to_currency offer.dollar_amount %></td>
                  <td><%= number_to_currency offer.yearly_offer %></td>
                  <td><%= offer.outlet.name %></td>
                  <td><%= number_with_delimiter offer.outlet.subs %></td>
                  <td><%= offer.outlet.dma.name %></td>
                  <td><%= offer.outlet.outlet_type.name %></td>
                  <td><%= offer.total_hours %></td>
                  <td><%= offer.status.blank? ? 'Open' : offer.status %></td>
                  <td><%= offer.user.first_name rescue '' %></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary droptown-toggle" data-toggle="dropdown">
                        Actions&nbsp;<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="<%= url_for offer_path(offer.id) %>">Display</a></li>
                        <li><a href="<%= url_for edit_offer_path(offer.id) %>">Edit</a></li>
                        <li><a href="<%= url_for offer_path(offer.id) %>/preview">Preview Email</a></li>
                        <% unless offer.zoho_exported %>
                            <li><%= link_to 'Export to Zoho', zoho_export_potential_path + '?id=' + offer.id.to_s, :data => {:confirm => 'Are you sure you want to export this offer to Zoho?'} %></li>
                        <% end %>
                        <li><%= link_to 'Closed Won', offer_path(offer.id) + '/setClosedWon', :method => :post, :data => {:confirm => 'Are you sure?'} %></li>
                        <li><%= link_to 'Closed Lost', offer_path(offer.id) + '/setClosedLost', :method => :post, :data => {:confirm => 'Are you sure?'} %></li>
                        <li><%= link_to 'Delete', offer_path(offer.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
