<div class="row">
  <div class="col-md-6">
    <h1><%= @outlet.name %></h1>
	</div>
  <div class="col-md-6">
    <h3><strong>DMA:</strong> <%= @outlet.dma.name rescue "None" %></h3>
    <h3><strong>Subs:</strong> <%= number_with_delimiter @outlet.subs %></h3>
    <h3><strong>Dollar amount:</strong> <%= number_to_currency @offer.dollar_amount %></h3>
	</div>
</div> <!-- end row -->


<div class="row">
  <div class="col-md-8 hours_div">
		<table class="table">
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			<% @values.each do |v| %>
				<tr>
					<% day_arr.each do |day| %>
						<td>
							<% if contain_day_hour @offer.half_hour_clicked, day, v.hour %>
								<div id="hour_id_<%= day %>_<%= v.time %>_<%= v.send day %>" class="clicked_cell">
									<%= display_hour v.time %>
								</div>
							<% else %>
								<div id="hour_id_<%= day %>_<%= v.time %>_<%= v.send day %>">
									<%= display_hour v.time %>
								</div>
							<% end %><!-- end if contain day hour condition -->
						</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
  <div class="col-md-2">
    <div class="rate_info">
      <h1>Rate</h1>
      Hours: <%= @offer.total_hours %><br/>
      Hour rate: <%= number_to_currency @offer.hourly_rate %><br/>
      Weekly rate: <%= number_to_currency @offer.weekly_offer %><br/>
      Monthly rate: <%= number_to_currency @offer.monthly_offer %><br/>
      Yearly rate: <%= number_to_currency @offer.yearly_offer %><br/>
      <h1>Programmers</h1>
      <% if @programmers.empty? %>
          This offer isn't belongs to any programmers
      <% else %>
          <ul>
            <% @programmers.each do |programmer| %>
                <li>
                  <%= programmer.name %><br/>
                  email: <%= programmer.email %><br/>
                  phone: <%= number_to_phone programmer.phone %>
                </li>
            <% end %>
          </ul>
			<% end %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
