 <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><li><a href="<%= url_for(offers_url) %>">All Potentials </a></li></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media Outlets<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= url_for(outlets_url) %>">All Media Outlets</a></li>
                                <li><a href="<%= url_for(new_outlet_url) %>">New Media Outlet</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= url_for(programmers_url) %>">View Programmers</a></li>
                                <li><a href="<%= url_for(new_programmer_url) %>">New Programmer</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= url_for(users_url) %>">Manage Users</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <form class="mainnav-form" role="search">
                                <input type="text" class="form-control input-md" placeholder="Search">
                                <button class="btn btn-sm mainnav-form-btn" type="button"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

