<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Grid168</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'form-elements' %>
    <%= stylesheet_link_tag 'style' %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <!-- Favicon and touch icons -->
    <%= favicon_link_tag %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="top-content">
			<div class="inner-bg">
        <div class="container">
          <div class="menu">
            <% if user_signed_in? %>
              <span id="menu_links">
                <%= link_to "My Deals", my_deals_path %>
                <%= link_to "All Deals", home_all_deals_path %>
                <%= link_to "My Media Outlets", outlets_path %>
                <%= link_to "New Media Outlet", new_outlet_path %>
              </span>
              <span id="outlet_dropdown"><b>Media Outlet</b>
                <%= form_tag(root_path) do %>
                  <%= hidden_field_tag "outlet_id" %>
                    <%= autocomplete_field_tag 'name', '', home_autocomplete_outlet_name_path, :id_element => "#outlet_id" %>
                    <%= submit_tag "Go" %>
                <% end %>
              </span>

                <span id="user_name"><%= link_to "Edit My Account",  edit_user_registration_path %></span>
                <span id="logout"><%= link_to "logout", destroy_user_session_path, :method => :delete %></span>
            <% else %>
                <!--<span id="sign_in"><%= link_to "sign in", new_user_session_path %></span>-->
            <% end %>
          </div>
          <% if notice %>
            <div class="alert alert-dismissible alert-info">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-dismissible alert-warning">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
		</div>
    <%= javascript_include_tag 'jquery.backstretch.min' %>
    <%= javascript_include_tag 'scripts' %>
  </body>
</html>
