<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Grid168</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'waves.min' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'notis' %>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= favicon_link_tag %>
	  <%= csrf_meta_tags %>
	</head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <% if signed_in? %>
        <%= render :partial => 'layouts/menu' %>
        <div class="clearfix"></div>
        <%= render :partial => 'layouts/submenu' %>
        <div class="container page-wrapper">
          <%= yield %>
        </div>
    <% else %>
      <%= yield %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>
      <%= render :partial => 'layouts/notis' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'metisMenu.min', :defer => 'defer' %>
    <%= javascript_include_tag 'pace.min', :defer => 'defer'%>
    <%= javascript_include_tag 'waves.min.js', :defer => 'defer'  %>
    <%= javascript_include_tag 'custom', :defer => 'defer'  %>
    <%= javascript_include_tag 'grid168', :defer => 'defer' %>
  </body>
</html>
