<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Grid168</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'waves.min' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'notis' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <%= favicon_link_tag %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
  <% if controller_name != 'errors' %>
      <% if signed_in? %>
          <%= render :partial => 'layouts/menu' %>
          <div class="clearfix"></div>
            <%= render :partial => 'layouts/submenu' %>
              <div class="container page-wrapper">
                <%= yield %>
              </div>
          <%= render :partial => 'layouts/footer' %>
      <% else %>
          <%= yield %>
      <% end %>
      <% flash.each do |key, value| -%>
          <div id="message">
            <div style="padding: 5px;">
              <div id="inner-message" class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <script type="text/javascript">
                  // This is just kind of here so the local variable 'key' doesn't go unused
                  console.log("Notification => {:key => [<%= key %>], :message => [<%= value %>]}");
                </script>
                <%= value %>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      <%= yield %>
  <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'metisMenu.min' %>
    <%= javascript_include_tag 'pace.min' %>
    <%= javascript_include_tag 'waves.min' %>
    <%= javascript_include_tag 'custom' %>
  </body>
</html>
