<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Grid168</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <%= stylesheet_link_tag 'jquery-ui' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'waves.min' %>
    <%= stylesheet_link_tag 'menu-light' %>
    <%= stylesheet_link_tag 'notis' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'metisMenu.min' %>
    <%= javascript_include_tag 'jquery-jvectormap-1.2.2.min' %>
    <%= javascript_include_tag 'jquery.flot' %>
    <%= javascript_include_tag 'pace.min' %>
    <%= javascript_include_tag 'waves.min' %>
    <%= javascript_include_tag 'custom' %>

    <!-- Favicon and touch icons -->
    <%= favicon_link_tag %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
  <!-- render _menu partial -->

  <% if signed_in? %>
      <%= render :partial => 'layouts/menu' %>
      <section class="page">
        <%= render :partial => 'layouts/sidebar' %>
        <div id="wrapper">
          <div class="content-wrapper container">
            <%= yield %>
          </div>
        </div>
      </section>
  <% else %>
      <%= yield %>
  <% end %>
  <%= flash.each do |key, value| -%>
            <div id="message">
              <div style="padding: 5px;">
                <div id="inner-message" class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong><%= value %></strong>
                </div>
              </div>
            </div>
          <% end %>
  </body>
</html>
